:root{
    --colorAzul: #2E8A99;
    --colorNaranja: #FF6363;
    --colorBlanco: #F7F7F7;
    --colorNegro: #4A4A4A;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    font-family:'Nunito Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
}

p, ul{
    margin: 0 !important; /*lo hago porque me cargo propiedades de bootstrap y no respetaba sin important*/
}

/*diseño del header*/
header{
    position: fixed; /*deja el header fijo en la parte superior de la pantalla*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /*otros diseños*/
    height:10vh;
    width:100%;
    margin:0;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--colorAzul);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 30px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}

#titulo_nav a{
    font-family: 'Bebas Neue', sans-serif;
    color: var(--colorNaranja);
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}

#titulo_nav {
    margin: 0;
    padding: 0;
}


li a{
    text-decoration: none;
    color: var(--colorBlanco);
}

/* diseño para que cuando se aprete una etiqueta <a> del nav, coloque el contenido al medio de la pantalla y no arriba*/
#contenedor_nosotros, #contenedor_colecciones, #contenedor_formulario{
  scroll-margin-top: 35vh;
}

/*diseño del main*/
main{
    padding-top: 10vh;  /* para que se muestre bien el contenido, ya que esta el header fijo*/
    flex: 1;
    background-color: var(--colorBlanco);
}


/*diseño footer*/
footer{
    height: 10vh;
    width: 100%;
    background-color: var(--colorAzul);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color:var(--colorBlanco);
    font-size:1rem;
    margin: 0 !important;
}

/*Mediasqueries*/
/* pantallas de 1024 o menos px de ancho */
@media (max-width: 1024px) {
    nav ul{
        gap: 40px;
    }

    #titulo_nav a{
        font-size: 2.3rem;
    }

    nav li{
        font-size: 0.9rem;
    }

    /*diseño footer*/
    footer p{
        font-size:0.8rem;
    }
}

/* pantallas de 768 o menos px de ancho */
@media (max-width: 768px) {
    nav{
        flex-direction:column;
        gap: 0;
    }

    nav ul{
        gap: 30px;
        padding: 0;
    }

    #titulo_nav a{
        font-size: 2rem;
    }

    nav li{
        font-size: 0.7rem;
    }

    /*diseño footer*/
    footer p{
        font-size:0.7rem;
    }
}

/* pantallas de 480 o menos px de ancho */
@media (max-width: 480px) {
    nav{
        gap: 4px;
    }

    nav ul{
        gap: 50px;
    }

    #titulo_nav a{
        font-size: 2rem;
    }

    nav li{
        font-size: 0.7rem;
    }

    /*diseño footer*/
    footer p{
        font-size:0.7rem;
    }
}