{% extends 'base.html' %}
{% load static %}
{% block title %}Panel Consultas | Fresh & Simple{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tienda/css/stylesPaneles.css' %}">
    <link rel="stylesheet" href="{% static 'tienda/css/stylesPantallaCarga.css' %}">
{% endblock %}
{% block content %}
<section id="section_contenedor_volver">
    <div id="contenedor_volver">
        <a id="enlace_volver" href="{% url 'dashboard' %}">Volver</a>
    </div>
</section>
<section class="section_contenedor_panel">
    <div class="contenedor_contadores">
        <h2>Cantidad de consultas</h2>
        <div class="contenedor_contador_consultas">
            <p class="titulo_contador">Total de consultas: </p>
            <p id="total_consultas">{{ total_consultas }}</p>
        </div>
        <div class="contenedor_contador_consultas">
            <p class="titulo_contador">Total de consultas comerciales: </p>
            <p id="consultas_comerciales">{{ consultas_comerciales }}</p>
        </div>
        <div class="contenedor_contador_consultas">
            <p class="titulo_contador">Total de consultas técnicas: </p>
            <p id="consultas_tecnicas">{{ consultas_tecnicas }}</p>
        </div>
        <div class="contenedor_contador_consultas">
            <p class="titulo_contador">Total de consultas de RRHH: </p>
            <p id="consultas_rrhh">{{ consultas_rrhh }}</p>
        </div>
        <div class="contenedor_contador_consultas">
            <p class="titulo_contador">Total de consultas generales: </p>
            <p id="consultas_generales">{{ consultas_generales }}</p>
        </div>
    </div>
    <div class="contenedor_panel">
        <h2>Panel de Consultas</h2>
        <div class="contenedor_tabla">
            <table>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Categoría</th>
                    <th>Mensaje</th>
                    <th>Acciones</th>
                </tr>
                {% for consulta in consultas %}
                    <tr id="consulta-{{ consulta.id }}">
                        <td><div class="contenido_td">{{ consulta.nombre }}</div></td>
                        <td><div class="contenido_td">{{ consulta.email}}</div></td>
                        <td><div class="contenido_td">{{ consulta.telefono }}</div></td>
                        <td><div class="contenido_td">{{ consulta.categoria_detectada }}</div></td>
                        <td><div class="contenido_td">{{ consulta.mensaje }}</div></td>
                        <td>
                            <div class="contenedor_acciones">
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ consulta.email }}"
                                  target="_blank" class="boton_contactar">
                                    Contactar
                                </a>
                                <a class="boton_modificar" href="{% url 'modificar-consulta' consulta.id %}">
                                    Modificar
                                </a>
                                <button class="boton_eliminar" data-id ="{{ consulta.id }}">
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
<div id="pantalla_carga">
    <p>Eliminando...</p>
    <div class="spinner-border text-light" role="status"></div>
</div>
{% endblock %}
{% block extra_js %}
    <script type = module src="{% static 'tienda/js/eliminarConsulta.js' %}"></script>
{% endblock %}