{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard | Fresh & Simple{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tienda/css/stylesDashboard.css' %}">
{% endblock %}
{% block content %}
<section id="section_contenedor_bienvenida">
    <div id="contenedor_bienvenida">
        <h1>Bienvenido {{ user.first_name }}</h1>
    </div>
</section>
<section id="section_contenedor_paneles">
    <div class="contenedor_panel">
        <a href="{% url 'productos' %}">Observar Productos</a>
    </div>
    <div class="contenedor_panel">
        <a href="{% url 'consultas' %}">Observar Consultas</a>
    </div>
</section>
{% endblock %}
{% block extra_js %}
    <script type = module src="{% static 'tienda/js/eliminarConsulta.js' %}"></script>
{% endblock %}