{% extends 'base.html' %}
{% load static %}
{% block title %} Modificar Consulta | Fresh & Simple {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tienda/css/stylesModificarElemento.css' %}">
{% endblock %}
{% block content %}
<section id="section_contenedor_volver">
    <div id="contenedor_volver">
        <a id="enlace_volver" href="{% url 'consultas' %}">Volver</a>
    </div>
</section>
<section class="section_contenedor_modificar_elemento">
    <div class="contenedor_modificar_elemento">
        <h2>Modificar Consulta</h2>
        <form method="POST" class="form_modificar_elemento" id="form_modificar_consulta" novalidate>
            {% csrf_token %}
            {% for input in form %}
                {% if input.name == "email" or input.name == "telefono" %}
                <div class="contenedor_input">
                    {{ input.label_tag }}
                    {{ input }}
                    <span class="error_texto" id="error-{{ input.id_for_label }}"></span>
                </div>
                {% else %}
                    <div class="contenedor_input contenedor_deshabilitado">
                        {{ input.label_tag }}
                        {{ input }}
                        <span class="error_texto" id="error-{{ input.id_for_label }}"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit">Modificar Consulta</button>
        </form>
    </div>
</section>
{% endblock %}
{% block extra_js %}
    <script type="module" src="{% static 'tienda/js/modificarConsulta.js' %}"></script>
{% endblock %}