{% extends 'base.html' %}
{% load static %}
{% block title %}Recuperar Cuenta | Fresh & Simple{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tienda/css/stylesFormsAcceso.css' %}">
    <link rel="stylesheet" href="{% static 'tienda/css/stylesPantallaCarga.css' %}">
{% endblock %}
{% block content %}
<section class="contenedor_recuperacion">
    <div class="contenedor_form_recuperacion">
        <h2>Recuperá tu cuenta</h2>
        <form method="POST" id="form_recuperacion" novalidate>
            {% csrf_token %}
            {% for input in form %}
                <div class="contenedor_field">
                    {{ input.label_tag }}
                    {{ input }}
                    <span class="error_texto" id="error-{{ input.id_for_label }}"></span>
                </div>
            {% endfor %}
            <button id="boton_recuperar_cuenta" type="submit">Recuperar</button>
        </form>
        <div class="contenedor_texto_bottom_acceso">
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <a href="{% url 'registro' %}">Registrate</a>
        </div>
    </div>
</section>
<div id="pantalla_carga">
    <p>Validando...</p>
    <div class="spinner-border text-light" role="status"></div>
</div>
{% endblock %}
{% block extra_js %}
    <script type="module" src="{% static 'tienda/js/formRecuperarCuenta.js' %}"></script>
{% endblock %}