{% extends 'base.html' %}
{% load static %}
{% block title %}Registro | Fresh & Simple{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tienda/css/stylesFormsAcceso.css' %}">
    <link rel="stylesheet" href="{% static 'tienda/css/stylesPantallaCarga.css' %}">
{% endblock %}
{% block content %}
<section class="contenedor_login">
    <div class="contenedor_form_login">
        <h2>Registrate</h2>
        <form method="POST" id="form_login" novalidate>
            {% csrf_token %}
            {% for input in form %}
                <div class="contenedor_field">
                    {{ input }}
                    <span class="error_texto" id="error-{{ input.id_for_label }}"></span>
                </div>
            {% endfor %}
            <button type="submit">Registrarse</button>
        </form>
        <div class="contenedor_texto_bottom_acceso">
            <p>¿Ya tenés cuenta?</p>
            <a href="{% url 'login' %}">Iniciar Sesión</a>
        </div>
    </div>
</section>
<div id="pantalla_carga">
    <p>Verificando...</p>
    <div class="spinner-border text-light" role="status"></div>
</div>
{% endblock %}
{% block extra_js %}
     <script type="module" src="{% static 'tienda/js/formRegistro.js' %}"></script>
{% endblock %}