/*diseño para el section del contenedor del login y recuperacion*/
.contenedor_login,
.contenedor_recuperacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}

/*diseño para el contenedor del login y recuperacion*/
.contenedor_form_login,
.contenedor_form_recuperacion{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 2);
    background-color: #D3D3D3;
}

/*diseño para el titulo del login y recuperacion*/
.contenedor_form_login h2,
.contenedor_form_recuperacion h2{
    margin:0;
    padding:0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
}

/*diseño para el formulario de login y recuperacion*/
#form_login,
#form_recuperacion{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column ;
    gap: 10px;
}

/*diseño para el contenedor del input del form de login y recuperacion*/
.contenedor_input{
    height:auto;
    width:100%;
    padding:5px 0;
    box-sizing:border-box;
}

/*diseño para los labels del form*/
.contenedor_input label {
    display: block;
    font-weight: 600;
}

/*diseño para los input del form*/
.contenedor_input input {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--colorNegro);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    transition: border 0.3s ease;
}

/*diseño para los input del form hover*/
.contenedor_input input:focus {
    border-color: var(--colorAzul);
    outline: none;
}

/*diseño para el boton de los formularios*/
.contenedor_form_login button,
.contenedor_form_recuperacion button{
    align-self: center;
    height: auto;
    width:100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color:var(--colorBlanco);
    background-color: var(--colorCelesteOscuro);
    cursor:pointer;
    transition: background-color 0.3s ease;
}

/*diseño para el boton de los formularios hover*/
.contenedor_form_login button:hover,
.contenedor_form_recuperacion button:hover{
    background-color: var(--colorAzul);
}

/*Diseño para el boton recuperar cuenta para esperar un intervalo de 1 minuto*/
#boton_recuperar_cuenta.deshabilitado,
#boton_recuperar_cuenta.deshabilitado:hover {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--colorGris);
}

/*diseño para errores de LOGIN*/
.errorlist li{
    padding: 10px 0;
    color: var(--colorRojo);
    list-style: none;
    font-size: 0.9rem;
    font-weight: 600;
}

/*diseño para la lista de errores de LOGIN*/
.errorlist ul {
    margin: 0;
    padding: 0 5px;
    list-style: disc inside;
    font-size: 0.8rem;
    color: var(--colorGrisOscuro);
}

/*diseño para los errores en el span debajo del input (Registro, Validar, Recuperar cuenta y cambiar contraseña)*/
.error_texto{
    color: var(--colorRojo);
    text-align: start;
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 5px;
}

/*Estilo para errores en los input (Registro y Validar)*/
.input_error{
    border: 2px solid #FF0000 !important;
}

/*diseño para contenedores texto bottom (Iniciar Sesion y Registrate y Olvide mi contraseña)*/
.contenedor_texto_bottom_acceso,
.contenedor_texto_bottom_recuperacion{
    display:flex;
    justify-content:space-around;
    padding:20px;
    box-sizing:border-box;
}

/*diseño para contenedor texto bottom recuperacion (Olvide mi contraseña)*/
.contenedor_texto_bottom_recuperacion{
    padding-bottom: 0;
}

/*diseño para el parrafo del contenedor texto bottom (Iniciar Sesion y Registrarse)*/
.contenedor_texto_bottom_acceso p{
    font-size: 0.9rem;
    color: var(--colorNegro);
}

/*diseño para los enlaces del contenedor texto bottom acceso (Iniciar Sesion y Registrarse) y recuperacion (Olvide mi contraseña)*/
.contenedor_texto_bottom_acceso a,
.contenedor_texto_bottom_recuperacion a{
    font-size: 0.9rem;
    font-weight:900;
    text-decoration:none;
    transition:color 0.5s ease;
}

/*diseño para el enlace del contenedor texto bottom recuperacion (Olvide mi contraseña)*/
.contenedor_texto_bottom_recuperacion a{
    color: var(--colorNegro);
}

/*diseño para el enlace del contenedor texto bottom recuperacion (Iniciar Sesion y Registrarse)*/
.contenedor_texto_bottom_acceso a{
    color: var(--colorCelesteOscuro);
}

/*diseño para el enlace HOVER del contenedor texto bottom (Iniciar Sesion y Registrarse)*/
.contenedor_texto_bottom_acceso a:hover{
    color: var(--colorAzul);
}

/*diseño para el enlace HOVER (Olvide mi contraseña)*/
.contenedor_texto_bottom_recuperacion a:hover{
    color: var(--colorNaranja);
}

/*diseño para la alerta para evitar que se suba el footer (Pagina Registro, Recupera cuenta y cambiar contraseña)*/
body.swal2-shown {
    overflow: auto !important;
    padding-right: 0 !important;
}

/*color del spinner*/
.spinner-border.text-light {
  color: var(--colorNaranja);
}

/*Medias queries*/
@media (max-width: 1024px) {
    /*diseño para el section del contenedor del login*/
    .contenedor_login,
    .contenedor_recuperacion{
        padding: 40px;
    }

    /*diseño para el titulo del login*/
    .contenedor_form_login h2,
    .contenedor_form_recuperacion h2{
        font-size: 1.6rem;
    }

    /*diseño para los labels del form*/
    .contenedor_input label {
        font-size: 1rem;
    }

    /*diseño para los input del form*/
    .contenedor_input input {
        font-size: 0.8rem;
    }

    /*diseño para el boton*/
    .contenedor_form_acceso button,
    .contenedor_form_recuperacion button{
        font-size: 0.8rem;
    }

    /*diseño para errores de login*/
    .errorlist li{
        font-size: 0.7rem;
    }

    /*diseño para los errores en el span debajo del input (Registro)*/
    .error_texto{
        font-size: 0.7rem;
    }
}

@media (max-width: 768px){
    /*diseño para el titulo del login*/
    .contenedor_form_login h2,
    .contenedor_form_recuperacion h2{
        font-size: 1.5rem;
    }

    /*diseño para los labels del form*/
    .contenedor_input label {
        font-size: 0.9rem;
    }

    /*diseño para los input del form*/
    .contenedor_input input {
        font-size: 0.8rem;
    }

    /*diseño para el contenedor texto bottom (Iniciar Sesion y Registrarse)*/
    .contenedor_texto_bottom_acceso,
    .contenedor_texto_bottom_recuperacion{
        padding:5px;
    }

    /*diseño para el parrafo del contenedor texto bottom (Iniciar Sesion y Registrarse)*/
    .contenedor_texto_bottom_acceso p,
    .contenedor_texto_bottom_acceso a,
    .contenedor_texto_bottom_recuperacion a{
        font-size: 0.8rem;
    }
}

@media (max-width: 480px){
    /*diseño para el section del contenedor del login*/
    .contenedor_login,
    -contenedor_recuperacion{
        padding: 40px 20px;
    }

    /*diseño para el titulo del login*/
    .contenedor_form_login h2,
    .contenedor_form_recuperacion h2{
        font-size: 1.4rem;
    }
}