/*variables con los colores*/
:root{
    --colorAzul: #2E8A99;
    --colorNaranja: #FF6363;
    --colorBlanco: #F7F7F7;
    --colorNegro: #4A4A4A;
    --colorNegroOscuro: #000000;
    --colorRojo: #E80000;
    --colorRojoOscuro: #7C0002;
    --colorRojoClaro: #f33232;
    --colorCeleste:#51D1F6;
    --colorCelesteOscuro:#00AAE4;
    --colorAmarillo: #FADA28;
    --colorAmarilloOscuro: #DDB148;
    --colorGrisAzuladoClaro: #B9D1D9;
    --colorGris: #737373;
}

/*diseño para el html y body*/
html,body{
    height: 100% !important;
    margin: 0;
    padding: 0;
}

/*Diseño para body*/
body{
    display:flex;
    flex-direction: column;
    font-family:'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

/*tipografia para titulos*/
h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  padding:0;
}

/*tipografia para inputs, textareas, selects y botones*/
input, textarea, select, button {
    font-family:'Nunito Sans', sans-serif;
}

p, ul{
    margin: 0 !important;
}

/*diseño del header*/
header{
    position: relative;
    height:15dvh;
    min-height: 90px;
    width:100%;
    margin:0;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--colorAzul);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*diseño del nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 30px;
    box-sizing:border-box;
}

/*diseño titulo header*/
#titulo_nav{
    font-family: 'Bebas Neue', sans-serif;
    color: var(--colorNaranja);
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*diseño lista del nav*/
nav ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
    padding: 0;
}

/*diseño items de la lista (LI)*/
nav li{
    display:flex;
    justify-content:center;
    align-items:center;
}

/*diseño enlaces de la lista*/
nav li a {
    position: relative;
    font-weight: 500;
    font-size: 0.9rem;
    text-align:center;
    text-decoration: none;
    color: var(--colorBlanco);
    padding: 5px;
    box-sizing:border-box;
    transition: color 0.5s ease;
}

/*diseño enlaces de la lista AFTER*/
nav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--colorNaranja);
    transition: width 0.5s ease, left 0.5s ease;
}

/*diseño enlaces de la lista HOVER*/
nav li a:hover {
    color: var(--colorNaranja);
}

/*diseño enlaces de la lista HOVER y AFTER*/
nav li a:hover::after {
    width: 100%;
    left: 0;
}

/* diseño enlace activo (cuando esta en el path que le corresponde) */
.enlace_activo {
    color: var(--colorNaranja);
}

/* diseño enlace activo (cuando esta en el path que le corresponde) AFTER*/
.enlace_activo::after {
    width: 100%;
    left: 0;
    transition: none;
}

/* diseño enlace activo (cuando esta en el path que le corresponde) HOVER y AFTER*/
.enlace_activo:hover::after {
    width: 100%;
    left: 0;
    transition: none;
}

/*Diseño para la el elemento (LI) de la lista que contiene el div y tambien el dropdown*/
#usuario_dropdown {
    position: relative;
    cursor: pointer;
}

/*diseño contenedor usuario (si esta logeado, contiene el logo y el nombre del usuario)*/
#contenedor_usuario {
    min-width:100px;
    max-width:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
    position: relative;
    transition: color 0.5s ease;
    padding: 5px;
    box-sizing:border-box;
}

/*diseño contenedor usuario AFTER (dibuja la linea debajo del div)*/
#contenedor_usuario::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--colorNaranja);
    transition: width 0.5s ease, left 0.5s ease;
}

/*diseño contenedor usuario HOVER y AFTER */
#contenedor_usuario:hover::after {
    width: 100%;
    left: 0;
}

/*diseño parrafo del contenedor usuario (Nombre del usuario)*/
#contenedor_usuario p{
    color: var(--colorBlanco);
    transition: color 0.5s ease;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

/*diseño span del contenedor usuario (Icon usuario)*/
#contenedor_usuario span{
    color: var(--colorBlanco);
    font-weight: 100;
    transition: color 0.5s ease;
}

/*diseño para el parrafo y el span de contenedor usuario HOVER*/
#contenedor_usuario:hover p,
#contenedor_usuario:hover span {
    color: var(--colorNaranja);
}

/*Diseño para la flecha dropdown, solo se visualiza en pantallas chicas*/
#flecha_usuario{
    display: none;
}

/*diseño para el menu (Dropdown) del div contenedor_usuario*/
#menu_usuario {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    padding: 15px 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 15px 5px;
    gap: 15px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    list-style: none;
    background-color: var(--colorGris);
    display:flex;
    flex-direction:column;
}

/*diseño para el elemento de la lista (LI) HOVER y menu usuario, para que se abra al hacer HOVER*/
#usuario_dropdown:hover #menu_usuario {
    transform: scaleY(1);
}

/*diseño para el boton cerrar sesion del formulario*/
.cerrar_sesion {
    display:flex;
    justify-content:start;
    align-items:center;
    width: 100%;
    font-size: 0.9rem;
    background-color:transparent;
    border: none;
    cursor: pointer;
    color: var(--colorBlanco);
    font-weight: 600;
    transition: color 0.3s ease;
}

/*diseño para el boton cerrar sesion Hover*/
.cerrar_sesion:hover {
    color: var(--colorRojoClaro);
}

/*diseño para el menu hamburguesa (se ve unicamente en pantallas chicas)*/
#menu_hamburguesa {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--colorBlanco);
    cursor: pointer;
}

/*diseño del main*/
main{
    flex: 1;
    background-color: var(--colorBlanco);
}

/*diseño footer*/
footer{
    height: auto;
    width: 100%;
    background-color: var(--colorAzul);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*diseño parrafo footer*/
footer p{
    color:var(--colorBlanco);
    font-size:0.9rem;
    margin: 0;
    text-align:center;
}

/*Mediasqueries*/
@media (max-width: 1024px) {
    /*diseño titulo header*/
    #titulo_nav{
        font-size: 2.3rem;
    }

    /*diseño para los enlaces de los elementos*/
    nav li a{
        font-size:0.8rem;
    }

    /*diseño lista del nav*/
    nav ul{
        gap: 30px;
    }

    /*diseño parrafo del contenedor usuario (Nombre del usuario)*/
    #contenedor_usuario p{
        font-size: 0.7rem;
    }

    /*diseño span del contenedor usuario (Icon usuario)*/
    #contenedor_usuario span{
        font-size:1.3rem;
    }

    /*diseño para el boton cerrar sesion del formulario*/
    .cerrar_sesion {
        font-size: 0.8rem;
    }

    /*diseño parrafo footer*/
    footer p{
        font-size:0.8rem;
    }
}

/* pantallas de 768 o menos px de ancho */
@media (max-width: 768px) {
    /*diseño titulo header*/
    #titulo_nav {
        font-size:2rem;
    }

    /*diseño menu hamburguesa (BUTTON)*/
    #menu_hamburguesa {
        font-size: 1.8rem;
        display:block;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    /* Cuando el menu este abierto va a girar 90 grados */
    #menu_hamburguesa.rotacion {
        transform: rotate(90deg);
        color: var(--colorNaranja);
    }

    /* Diseño lista del nav para que funcione como desplegable*/
    nav ul {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease;
        position: absolute;
        flex-direction: column;
        background-color: var(--colorAzul);
        top: 100%;
        right: 0;
        width: 100%;
        padding: 0 15px;
        gap: 0;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
    }

    /* Diseño para el menu abierto */
    nav ul.activo {
        transform: scaleY(1);
    }

    /*diseño para los elementos de la lista*/
    nav li{
        justify-content:start;
        border-top: 2px solid var(--colorBlanco);
        padding: 15px;
        margin: 0;
    }

    /*diseño para los enlaces en la lista y el contenedor_usuario AFTER*/
    nav li a::after,
    #contenedor_usuario::after,
    nav li a.enlace_activo::after {
        display: none;
    }

    /*Diseño para la el elemento (LI) de la lista que contiene el div y tambien el dropdown*/
    #usuario_dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding: 15px;
        box-sizing:border-box;
    }

    /*diseño contenedor usuario (si esta logeado, contiene el logo y el nombre del usuario)*/
    #contenedor_usuario {
        max-width:none;
        justify-content: start;
        width: 100%;
    }

    /*Diseño para la flecha dropdown*/
    #flecha_usuario{
        display: inline-block;
        margin-left: auto;
        transition: transform 0.3s ease;
    }

    /*Diseño para la flecha dropdown cuando este abierta*/
    #flecha_usuario.abierta {
        transform: rotate(180deg);
    }

    /*diseño para el menu cerrado (Dropdown) del div contenedor_usuario*/
    #menu_usuario {
        display: none;
        transform: none;
        position: static;
        background-color: var(--colorAzul);
        padding: 10px 0;
        border-radius: 0 0 10px 10px;
    }

    /*diseño para el menu abierto del div contenedor_usuario*/
    #menu_usuario.abierto {
        display: flex;
        flex-direction: column;
        gap:0;
        padding:0;
    }

    /*diseño para los elementos del menu del div contenedor_usuario*/
    #menu_usuario li {
        padding: 10px 15px;
    }

    /*diseño para el boton cerrar sesion del formulario*/
    .cerrar_sesion {
        padding: 5px;
    }

    /*diseño parrafo del footer*/
    footer p{
        font-size:0.7rem;
    }
}

/* pantallas de 480 o menos px de ancho */
@media (max-width: 480px) {
    /*diseño header*/
    header{
       height: 10vh;
    }

    /*diseño nav*/
    nav{
        padding: 0 10px;
    }

    /*diseño menu hamburguesa (BUTTON)*/
    #menu_hamburguesa{
        font-size: 1.6rem;
    }

    /*diseño lista nav*/
    nav ul {
        padding: 0 15px;
    }
}