{% extends 'base.html' %}

{% load static %}

{% block title %}Fresh & Simple{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'tienda/css/stylesIndex.css' %}"> {% endblock %}

{% block content %}
   <main>
      <!--section con el hero-->
      <section class="parallax">
         <div>
            <h1>Fácil de llevar, difícil de igualar.</h1>
         </div>
      </section>

      <!--div con el texto en movimiento-->
      <div class="contenedor_texto_movimiento">
         <div class="contenedor_interno_texto">
            <div class="texto">
               <span>Nueva colección Otoño 2025, ya disponible</span>
               <span>Nueva colección Otoño 2025, ya disponible</span>
               <span>Nueva colección Otoño 2025, ya disponible</span>
               <span>Nueva colección Otoño 2025, ya disponible</span>
            </div>
            <div class="texto">
               <span>Nueva colección Otoño 2025, ya disponible</span>
               <span>Nueva colección Otoño 2025, ya disponible</span>
               <span>Nueva colección Otoño 2025, ya disponible</span>
               <span>Nueva colección Otoño 2025, ya disponible</span>
            </div>
        </div>
      </div>

      <!--section con informacion "nosotros"-->
      <section id="contenedor_nosotros">
         <div id="contenedor_texto_nosotros">
            <h2>¿Quiénes somos?</h2>
            <p>En Fresh & Simple creemos que el estilo no tiene que ser complicado.
            Somos una marca de ropa urbana pensada para quienes buscan expresarse con frescura, autenticidad y comodidad. Nos mueve lo simple, lo real, lo que se siente bien sin necesidad de exagerar.
            Diseñamos para una generación que elige su propio camino, que combina lo casual con lo único, y que se viste como quiere, no como le dicen.
            Cada prenda está hecha para acompañarte, no para disfrazarte.
            Fácil de llevar, difícil de igualar. Siempre con estilo.</p>
         </div>
         <div id="contenedor_imagen_nosotros">
            <img src="{% static 'tienda/img/imagen_quienes_somos.png'%}" alt="Imagen_Sobre_Nosotros">
         </div>
      </section>

      <!--div2 con el texto en movimiento-->
      <div class="contenedor_texto_movimiento_2">
         <div class="contenedor_interno_texto">
            <div class="texto">
               <span>La marca del momento, conocé nuestras colecciones</span>
               <span>La marca del momento, conocé nuestras colecciones</span>
               <span>La marca del momento, conocé nuestras colecciones</span>
               <span>La marca del momento, conocé nuestras colecciones</span>
            </div>
            <div class="texto">
               <span>La marca del momento, conocé nuestras colecciones</span>
               <span>La marca del momento, conocé nuestras colecciones</span>
               <span>La marca del momento, conocé nuestras colecciones</span>
               <span>La marca del momento, conocé nuestras colecciones</span>
            </div>
        </div>
      </div>

      <!--section con el carrusel de bootstrap-->
      <section id="contenedor_carrusel">
         <h2>Nueva Colección Otoño 2025</h2>
         <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="{% static 'tienda/img/imagen_carrusel1.png'%}" alt="Imagen_1_carrusel">
            </div>
            <div class="carousel-item">
               <img src="{% static 'tienda/img/imagen_carrusel2.png'%}" alt="Imagen_2_carrusel">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
            </button>
         </div>
      </section>

      <!--section con las colecciones-->
      <section id="contenedor_colecciones">
         <div class="contenedor_coleccion">
            <h3>Invierno 2024</h3>
         </div>
         <div class="contenedor_coleccion">
            <h3>Primavera 2024</h3>
         </div>
         <div class="contenedor_coleccion">
            <h3>Verano 2025</h3>
         </div>
         <div class="contenedor_coleccion">
            <h3>Otoño 2025</h3>
         </div>
      </section>

      <!--section con el formulario-->
      <section id="contenedor_formulario">
         <h3>Contacta con nosotros, llenando el siguiente formulario</h3>
         <form method="POST" action=""> <!--coloque el metodo POST-->
            {% csrf_token %} <!--solicitado en el parcial-->
            <input type="text" name="nombre" required placeholder="Coloca tu nombre">
            <input type="tel"  name="telefono"  placeholder="Coloca tu teléfono">
            <input type="email" required name="email"  placeholder="Coloca tu email">
            <select name="categoria" id="" >
               <option value="" disabled selected hidden>Selecciona la categoria</option>
               <option value="1">Consulta por colección</option>
               <option value="2">Sugerencia</option>
               <option value="3">Queja</option>
               <option value="4">Otro</option>
            </select>
            <textarea required name="mensaje_usuario" id="input_doble" cols="40" rows="50" placeholder="Coloca el mensaje"></textarea>
            <button type="submit" id="boton_enviar_form">Enviar</button>
         </form>
      </section>

      <!--Consigna del formulario solicitada en el parcial-->
      {% if mensaje %}
         <!--si se cumple la condicion, muestra este modal de bootstrap-->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <h1 class="modal-title fs-5">Notificación</h1>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
               </div>
               <div class="modal-body">
                 <p>{{ mensaje }}</p>
               </div>
             </div>
           </div>
         </div>

         <!--cargo el script, que dentro del archivo js explico-->
         {% block extra_js %}
            <script src="{% static 'tienda/js/scriptIndex.js' %}"></script>
         {% endblock %}
      {% endif %}
   </main>
{% endblock %}